body {
    background-color: light rgb(203, 71, 71) ! important;
}

.container {
    border: 10 px solid blue;
    background-color: #f6f6f6;

}

.col-3 {
    height: 800px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.col-5 {
    height: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.col-4 {
    height: 240px;
    width: 47%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 10px lightgrey;
}


.col-4a {
    height: 110px;
    width: 99%;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px lightgrey;
}

.col-4b {
    height: 240px;
    width: 99%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 10px lightgrey;
}


.col-4c {
    height: 240px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 5px 10px lightgrey;
}

.col-4d {
    height: 110px;
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px lightgrey;
}


.col-4e {
    height: 25%;
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 10px lightgrey;
}


.col-4f {
    height: 71%;
    width: 48%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 10px lightgrey;
}


.col-4g {
    height: 11%;
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 10px lightgrey;
}

.col-4h {
    height: 40%;
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 10px lightgrey;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}